# ignore Gradle project-specific cache directories
.gradle/

# ignore Gradle build output directories
build/

# ignore Gradle local propertiers
/local.properties

# ignore Kotlin project-specific cache directory
/.kotlin/

# ignore AndroidStudio files
/.idea/*
!/.idea/icon.png
!/.idea/dictionaries/shared.xml
*.iml
/captures/
